html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    text-align: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.gameContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: 1px solid rgb(230, 221, 221);
    border-radius: 25px; */
    max-width: 50%;
    margin: auto;
}

.gameContainer__title {
    padding-bottom: 20px;
    margin: 0;
    font-size: 25px;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
    justify-content: center;
    padding: 15px;
}

.gameContainer__button {
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.buttonImage {
    height: 50px;
}

.scoreHeader {
    font-weight: bolder;
}

.winLostParagraph {
    font-weight: bolder;
    font-size: 25px;
}